// by Oleg Syrovatko restyling

.banner {
    width: 1360px;
    margin: 0 auto;
    background-color: black;
    padding: 280px 0;
    display: flex;
    flex-direction: column;

        
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/banner-background-640.jpg');
    
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/banner-background-640@2x.jpg');
    }

    @media screen and (min-width: 768px){
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/banner-background-768.jpg');
        
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('../images/banner-background-768@2x.jpg');
        }
    }

    @media screen and (min-width: 1200px){
        height: 600px;
        padding: 200px 0 200px;
    
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/banner-background.jpg');
        
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('../images/banner-background@2x.jpg');
        }
    
    }

    &__head{

        margin: 0 auto 25px;
        text-align: center;

        font-weight: 300;
        font-size: 55px;
        line-height: 1.2;
        color: #E9E9E9;
    }

    &__text{

        margin: 0 auto 29px;
        text-align: center;

        font-weight: 400;
        font-size: 22px;
        line-height: 1.63;
        color: #E9E9E9;
    }

    &__link{
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        padding: 11px 27px 12px 42px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        color: var(--secondary-text-color);
        background-color: var(--main-color);
        border-radius: 5px;
    }

}