* {
    box-sizing: border-box;
}

:root {
    --main-color: #28a745;
    --secondary-color: #0284d0;
    --third-color: #f4f4f4;
    --main-text-color: #333;
    --secondary-text-color: #fff;
    --main-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-size: 18px;
    position: relative;
}

h1 {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
}

h2 {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
}

h3 {
    font-size: 20px;
    line-height: 1.65;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    width: 1360px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

  
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  