.section-callback {
    display: flex;
    width: 1360px;
    margin: 0 auto;
    background-color: var(--third-color);
}

.registration-container {
    padding: 78px 30px 82px;
}

.title-callback {
    margin-bottom: 34px;
}

.input {
    width: 620px;
    height: 40px;
    border: 1px solid #F5F5F5;
}

.input+.input {
    margin-top: 36px;
}

.send-btn {
    font-style: inherit;
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    margin-top: 60px;
    width: 620px;
    padding: 8px;
    cursor: pointer;
}