.callback {
    background-color: var(--third-color);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    

        @media screen and (min-width: 768px) {
            flex-direction: row;
            width: 768px;
            
        }

        @media screen and (min-width: 1360px) {
            width: 1360px;
        }
    }
}

.callback__image-wrapper {
    @media screen and (min-width: 768px) {
        width: 50%;
    } 

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.callback__registration-container {
    padding: 30px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
.callback__registration-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.callback__title {
   font-weight: 300;
   font-size: 38px;
   line-height: 1.26;
}

.callback__input {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #F5F5F5;
}



.callback__button {
    width: 100%;
    padding: 10px;
    margin-top: 60px;

    font-size: 16px;
    line-height: 1.37;
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.39;
        margin-top: 50px;
    }
}