.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s;
    

    &.sticky{
        background-color: black;
        
    }

    &__navigation {
       
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            align-items: center;
            gap: 19px;
        }
        @media screen and (min-width: 1360px) {
            gap: 38px;
        }
       
    }

    &__link {
        font-size: 16px;
        line-height: 1.62;
        color: var(--secondary-text-color);

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 1.55;
        }
        
    }
}







