// by Oleg Syrovatko restyling

.our-work{
    background-color: #F4F4F4;
    padding: 40px 0 20px 0;}

.our-work__block{
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
}

.our-work__item{
    width: 100%;

    text-align: center;

    @media screen and (min-width: 768px) {
        width: calc(100%/3 - 50px/3*2);
        max-width: 360px;
    }

}

.our-work__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.our-work__title{
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}

.our-work__text{
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
}



