// by Oleg Syrovatko restyling

.solutions{
    max-width: 1360px;
    margin: 0 auto;

        @media screen and (min-width: 768px) {
            display: flex;
        }
}

.solutions__image{
    @media screen and (min-width: 768px) {
            width: 50%;
            
        }
    img{
        width: 100%;
        @media screen and (min-width: 768px) {
                height: 100%;
                object-fit: cover;
        
        }
    }
}

.solutions__content{
    padding: 30px;
    color: var(--secondary-text-color);
    background-color: var(--main-color);
        @media screen and (min-width: 768px) {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
}

.solutions__subhead{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}
.solutions__head{
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
}


.solutions__text{
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
}



.solutions__link{
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    width: fit-content;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    background-color: var(--main-color);
    border-radius: 5px;
}