/* by Сергій Світайло to Karina Liashko restyling section, Oleg Syrovatko (mobile restyling) */
.section-subtitle {
    text-align: center;
    margin-bottom: 16px;
}

.section-title {
    text-align: center;
    margin-bottom: 34px;
}

.section-text {
    text-align: center;
    margin-bottom: 45px;
}

.team {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 14px;
        margin-bottom: 49px;
    }

}

.team-member {
    @media screen and (min-width: 768px) {
        width: calc(100%/3 - 14px/3*2);
    }
}

.soc-icon-position {
    position: relative;
}

.team-member__photo {
    margin-bottom: 13px;
    align-items: baseline;
    position: relative;
    cursor: pointer;
}

.net-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 25px;
    margin-bottom: 10px;
}

.net-list__item {
    display: flex;
    align-items: baseline;
    width: 35px;
    height: 35px;
}

.net-list--disappearing {

        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.soc-icon-position:focus .net-list--disappearing,
.soc-icon-position:hover .net-list--disappearing {
    @media screen and (min-width: 1200px) {
        opacity: 1;
        
        transition: opacity 250ms cubic-bezier(0.4,
                0,
                0.2,
                1);
    }      
}



.net-list__link {
    width: 100%;
    height: 100%;
    color: #FFFFFF;

}

.net-list__icon {
    fill: currentColor;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.team-member__title {
    margin-top: 14px;
    margin-bottom: 12px;
    text-align: center;
}

.team-member__position {
    text-align: center;
    margin-bottom: 10px;
}