<!-- by Karina Liashko section -->
    <section class="section">
      <div class="container">
        <p class="business-cases-subtitle">This is what we do</p>
        <h2 class="business-cases-title">Business Cases</h2>
        <p class="business-cases-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
        <ul class="all-our-cases">
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"> <img class="business-cases-image" src="./images/rectangle1.jpg"
                alt="team meeting" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle2.jpg"
                alt="a woman working at her laptop" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle3.jpg"
                alt="diagrams and graphics" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle4.jpg"
                alt="skytowers" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle5.jpg"
                alt="two people are shaking hands" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle6.jpg"
                alt="smiling woman in glasses" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle7.jpg"
                alt="a group of employees put their hands together" width="320" />
            </a>
          </li>
          <li class="business-cases-list">
            <a href="#" class="business-cases-link"><img class="business-cases-image" src="./images/rectangle8.jpg"
                alt="smiling employees work at computers" width="320" />
            </a>
          </li>
        </ul>
      </div>
    </section>