<!-- by Karina Liashko section -->
<section class="section">
  <div class="container">
    <p class="business-cases-subtitle">This is what we do</p>
    <h2 class="business-cases-title">Business Cases</h2>
    <p class="business-cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="all-our-cases">
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile1.jpg    1x,
                ./images/rectangle-mobile1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle1.jpg 1x, ./images/rectangle1@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet1.jpg    1x,
                ./images/rectangle-tablet1@2x.jpg 2x
              "
            />
            <img src="./images/rectangle1.jpg" alt="team meeting" />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile2.jpg    1x,
                ./images/rectangle-mobile2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle2.jpg 1x, ./images/rectangle2@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet2.jpg    1x,
                ./images/rectangle-tablet2@2x.jpg 2x
              "
            />
            <img
              src="./images/rectangle2.jpg"
              alt="a woman working at her laptop"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile3.jpg    1x,
                ./images/rectangle-mobile3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle3.jpg 1x, ./images/rectangle3@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet3.jpg    1x,
                ./images/rectangle-tablet3@2x.jpg 2x
              "
            />
            <img src="./images/rectangle3.jpg" alt="diagrams and graphics" />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile4.jpg    1x,
                ./images/rectangle-mobile4@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle4.jpg 1x, ./images/rectangle4@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet4.jpg    1x,
                ./images/rectangle-tablet4@2x.jpg 2x
              "
            />
            <img src="./images/rectangle4.jpg" alt="skytowers" />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile5.jpg    1x,
                ./images/rectangle-mobile5@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle5.jpg 1x, ./images/rectangle5@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet5.jpg    1x,
                ./images/rectangle-tablet5@2x.jpg 2x
              "
            />
            <img
              src="./images/rectangle5.jpg"
              alt="two people are shaking hands"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile6.jpg    1x,
                ./images/rectangle-mobile6@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle6.jpg 1x, ./images/rectangle6@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet6.jpg    1x,
                ./images/rectangle-tablet6@2x.jpg 2x
              "
            />
            <img src="./images/rectangle6.jpg" alt="smiling woman in glasses" />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile7.jpg    1x,
                ./images/rectangle-mobile7@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle7.jpg 1x, ./images/rectangle7@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet7.jpg    1x,
                ./images/rectangle-tablet7@2x.jpg 2x
              "
            />
            <img
              src="./images/rectangle7.jpg"
              alt="a group of employees put their hands together"
            />
          </picture>
        </a>
      </li>
      <li class="business-cases-list">
        <a href="#" class="business-cases-link">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/rectangle-mobile8.jpg    1x,
                ./images/rectangle-mobile8@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1200px)"
              srcset="./images/rectangle8.jpg 1x, ./images/rectangle8@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/rectangle-tablet8.jpg    1x,
                ./images/rectangle-tablet8@2x.jpg 2x
              "
            />
            <img
              src="./images/rectangle8.jpg"
              alt="smiling employees work at computers"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
