<footer class="footer">
  <div class="container">
    <address class="address-list">
      <ul class="net-list">
        <li class="net-item">
          <a class="net-link" href="#"
            ><svg class="net-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="net-link" href="#"
            ><svg class="net-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="net-link" href="#"
            ><svg class="net-icon" width="40" height="35">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="net-item">
          <a class="net-link" href="#"
            ><svg class="net-icon" width="31" height="35">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <p class="copyright">Copyright &copy; 2022 - FinanceLedger</p>
  </div>
</footer>
