<header class="header">
    <div class="container">
      <nav class="header-navigation">
        <a class="logo" href="./index.html">
          <img class="logo-icon" src="./images/logo.svg" alt="Logo" />
          <span class="logo-first-word">Finance</span>
          <span>Ledger</span>
        </a>
        <ul class="header-menu">
          <li><a href="./index.html">Home</a></li>
          <li><a href="#">About </a></li>
          <li><a href="#">Cases</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>