      <!-- by Vova Maksymchuk section to Oleg Syrovatko restyling -->
      <section class = "solutions">
        <img src="./images/rectangle.jpg" alt="we will solve your problems" width="680" height="460" />
        <div class = "solutions__content">
          <p class = "solutions__subhead">What you are looking for</p>
          <h2 class = "solutions__head">We provide bespoke solutions</h2>
          <p class = "solutions__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
            illum dolore explicabo ab dolores itaque rerum temporibus doloribus
            iste maiores deleniti?
          </p>
          <button class="solutions__link" type="button">Read More</button>
        </div>
      </section>
      