<!-- by Сергій Світайло section - Karina Liashko section -->
    <section class="section">
      <div class="container">
        <p class="section-subtitle">Who we are</p>
        <h2 class="section-title">Our Professional Team</h2>
        <p class="section-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
          sapiente!
        </p>
        <ul class="team">
          <li class="team-member">
            <div class="soc-icon-position"><img class="team-member__photo" src="./images/foto3.jpg"
                alt="a man in a black suit" width="420" height="280" />
              <div class="net-list--disappearing">
                <ul class="net-list">
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="35" height="35">
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="35" height="35">
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="40" height="35">
                        <use href="./images/icons.svg#icon-youtube"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="31" height="35">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <h3 class="team-member__title">John Doe</h3>
            <p class="team-member__position">President</p>
          </li>
          <li class="team-member">
            <div class="soc-icon-position"><img class="team-member__photo" src="./images/foto1.jpg"
                alt="a woman in a white blouse" width="428" height="286" />
              <div class="net-list--disappearing">
                <ul class="net-list">
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="35" height="35">
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="35" height="35">
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="40" height="35">
                        <use href="./images/icons.svg#icon-youtube"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="31" height="35">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <h3 class="team-member__title">Jane Doe</h3>
            <p class="team-member__position">Vice President</p>
          </li>
          <li class="team-member">
            <div class="soc-icon-position"><img class="team-member__photo" src="./images/foto2.jpg"
                alt="the man is drinking something at the laptop" width="420" height="280" />
              <div class="net-list--disappearing">
                <ul class="net-list">
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="35" height="35">
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="35" height="35">
                        <use href="./images/icons.svg#icon-twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="40" height="35">
                        <use href="./images/icons.svg#icon-youtube"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="net-list__item">
                    <a class="net-list__link" href="#"><svg class="net-list__icon" width="31" height="35">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <h3 class="team-member__title">Steve Smith</h3>
            <p class="team-member__position">Marketing Head</p>
          </li>
        </ul>
      </div>
    </section>